@use "../../../../styles/partials/variables" as *;
@use "sass:color";

// base button styling for every button
.btn{
    border-radius: 12px;
    cursor: pointer;
    border: none;
    transition: background 0.2s ease, opacity 0.2s ease;

}


.btn--outline-orange{
    background-color: color.change($color-caramel-light, $alpha: 0.3);
    border: 1px solid $color-caramel-dark;
    max-width: 25rem;
    padding: .6rem;
    border-radius: 40px;

}

.btn--white-outline{
    border: 1px solid white;
    color: white;
}

.btn--primary{
    background-color: $color-caramel-light;
    color: white;
}

// sizes for buttons
.btn--reg{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
}
