@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
.featured{
    background-color: $color-cream;
    width: 100%;

    &__piesList{
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include tablet-small{
            flex-direction: row;
        }
    }

    &__title{
        color: $color-caramel-dark;
        font-size: 3rem;
    }

    &__statment{
        color: #7e6f67;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    &__text-wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
}