@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
.about{

    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include tablet-small{
        flex-direction: row;
        align-items: stretch;
    }

    @include desktop-small{
        gap: 10rem;
    }

    &__title{
        color: black;
        width: 50%;
        line-height: 3.98rem;
        font-size: 3.6rem;

        @include tablet-small{
            width: 100%;
        }

        @include desktop-small{
            font-size: 4.8rem;
            line-height: 6rem;
        }
    }
    
    &__subTitle{
        color: $color-caramel-light;
        @include tablet-small{
            width: 100%;
        }

        @include desktop-small{
            font-size: 4.8rem;
        }
    }

    &__img{
        display: block;
        width: 100%;
        border-radius: 12px;

        @include tablet-small{
            width: 48%;
        }

        @include desktop-small{
            width:100%;
            height: 700px;
        }

    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include tablet-small{
            gap: 2rem;
        }
    }

    &__flexContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        @include tablet-small{
        gap: 4rem;}
    }

    &__item{
        display: flex;

        gap: 1rem;
    }

    &__icon{
        color: $color-caramel-light; 
    }

    &__iconContainer{
        background-color: #cf79171a;
        display: flex;
        height: fit-content;
        padding: 1rem;
        border-radius: 12px;
        
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__textContainer{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__header{
        font-size: 1.6rem;
    }

    &__description1{
        font-size: 1.4rem;
        font-weight: 380;
        line-height: 2rem;
        @include desktop-small{
            width: 80%;
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }

    &__description{
        font-size: 1.4rem;
        font-weight: 380;
        line-height: 2rem;
        @include tablet-small{
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }


  
    
}