@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @include tablet-small{
    margin: 0 auto;
    max-width: 860px;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
  }

  @include desktop-small{
    max-width: 1400px;
    padding-left: 8rem;
    padding-right: 8rem;
  }


  

  &__brand {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    height: 100px;
    width: auto;
    display: block;

    @include tablet-small{
      height: 150px;
      
    }

  }

  &__dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  &__menu {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100vw;
    max-width: 100vw;
    background: $color-muted;
    z-index: 9999;
    padding: 24px 16px;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  &__menu:focus,
  &__menu:focus-visible {
    outline: none;
  }


  

  &__button {
    all: unset;
    cursor: pointer;
    transition: transform 180ms ease;
  }

  &__button:focus,
  &__button:focus-visible {
    outline: none;
    box-shadow: none;
  }

  &__button.is-open {
    transform: rotate(90deg);
  }
}

/* =========================
   ENTER (opening animation)
   ========================= */

/* 
  This class does NOT change how the element looks.
  It only tells the browser:
  "If opacity or transform changes, animate them over 1 second."
*/
.dd-enter {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* 
    Starting state when the element first appears:
    - Fully invisible
    - Shifted left by 100% of its own width
  */
.dd-enterFrom {
  opacity: 0;
  transform: translateX(-100%);
}

/* 
    Final state for the enter animation:
    - Fully visible
    - In its normal position
    The browser animates FROM enterFrom → enterTo
  */
.dd-enterTo {
  opacity: 1;
  transform: translateX(0);
}

/* =========================
     LEAVE (closing animation)
     ========================= */

/* 
    Same idea as dd-enter:
    This tells the browser to animate opacity and transform
    when they change during the leave phase.
  */
.dd-leave {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* 
    Starting state for the leave animation:
    This must match the element’s current visible state.
    - Fully visible
    - In its normal position
  */
.dd-leaveFrom {
  opacity: 1;
  transform: translateX(0);
}

/* 
    Final state for the leave animation:
    - Fade out
    - Slide left off-screen
    This is the exact reverse of the enter animation.
  */
.dd-leaveTo {
  opacity: 0;
  transform: translateX(-100%);
}
