@use "../styles/partials/mixins" as *;

.layout {
  display: flex;
  flex-direction: column;

  &__wrapper {
    width: 100%;
    padding: 1.6rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;

    @include tablet-small {
      max-width: 860px;
      padding-left: 3.4rem;
      padding-right: 3.4rem;
    }

    @include desktop-small {
      max-width: 1600px;
      padding: 8rem ;
    }
  }
}
